{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>History</h1>

    {% if query_count %}
        <p id="numqueries">Total queries recorded: <strong>{{ query_count }}</strong>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Query ID:</th>
                <th scope="col">Query</th>
            </tr>
        </thead>
        <tbody>
            {% for query in query_result %}
            <tr>
                <th scope="row" id="query{{query['query_id']}}">
                    <a href="/history/query{{query['query_id']}}">{{query['query_id']}}</a>
                </th>
                <td>
                    <a href="/history/query{{query['query_id']}}">{{query['user_query']}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
