{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>History</h1>

    {% if query_count %}
        <p id="numqueries">Total queries recorded: <strong>{{ query_count }}</strong>
    {% endif %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Query ID:</th>
                <th scope="col">Query</th>
            </tr>
        </thead>
        <tbody>
            {% for query in query_result %}
            <tr>
                <th scope="row" id="query{{query['query_id']}}">
                    {{query['query_id']}}
                </th>
                <td>
                    {{query['user_query']}}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    <div class="row">
        <div class="col-md-4">
            {% if form %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
