{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Spell Checker</h1>

    {% if user_text %}
        <p id="textout"><strong>{{ user_text }}</strong>
    {% endif %}

    {% if misspelled %}
        <p id="misspelled"><strong>{{ misspelled }}</strong>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            {% if form %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
